<form>
    <h1> Deletando Categoria </h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="nome" disabled>
    </mat-form-field>
    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button class="mat-elevation-z8" mat-stroked-button color="primary">DELETAR!</button>
        <button class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>