.content{
    width: 90%;
    margin: 1.4rem auto auto;
}

.title{
    text-align: left;
    margin-bottom: 3rem;
}

.title h1{
    font-size: 2rem;
    color: rgb(95, 113, 97); 
    font-weight: 900;
}

table{
    width: 100%;
}