<div class="content">
    <div class="title">
        <h1>Categorias</h1>
    </div>

    <button (click)="redirectToCategoriaCreate()" mat-stroked-button color="primary">Nova Categoria</button>
    <!--Porcao extraida do angular material-->
    <div class="mat-elevation-z8 content-table">
        <table class="table" mat-table [dataSource]="categorias">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="nome">
              <th mat-header-cell *matHeaderCellDef> Nome </th>
              <td mat-cell *matCellDef="let row"> {{ row.name }} </td>
            </ng-container>
          
            <!-- Description Column -->
            <ng-container matColumnDef="descricao">
              <th mat-header-cell *matHeaderCellDef> Descrição </th>
              <td mat-cell *matCellDef="let row"> {{ row.description }} </td>
            </ng-container>
            <!-- livros -->
            <ng-container matColumnDef="livros">
              <th mat-header-cell *matHeaderCellDef> Livros </th>
              <td mat-cell *matCellDef="let row">
                <a class="book-icon" href="#">
                  <i class="material-icons">book</i>
                </a>
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="acoes">
              <th class="acoes-header" mat-header-cell *matHeaderCellDef> Ações </th>
              <td mat-cell *matCellDef="let row">
                <a class="edit-icon" href="#">
                  <i class="material-icons">edit</i>
                </a>
                <a class="delete-icon" href="#">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
